<div id="div-enlaces" class="m-container-m-{{archetype.plugin.id}}">
  <div id="enlaces" class="m-miplugin-punto">
    <a name="button">Punto</a>
  </div>
  <div id="enlaces" class="m-miplugin-circulo">
    <a name="button">Circulo</a>
  </div>
  <div id="enlaces" class="m-miplugin-polygon">
    <a name="button">Polígono</a>
  </div>
  <div id="enlaces" class="m-miplugin-linea">
    <a name="button">Linea</a>
  </div>
  <div id="enlaces" class="m-miplugin-nada">
    <a name="button">Nada</a>
  </div>
  <div id="enlaces" class="m-miplugin-clean">
    <a name="button">Borrar</a>
  </div>
</div>
